<!-- tienda/templates/dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleDash.css' %}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h1>Mi<br><span>A D M I N</span></h1>
            </div>
            <ul>
                <li><a href="{% url 'agregar_producto' %}">Agregar Producto</a></li>
                <li><a href="{% url 'lista_productos' %}">Lista de Productos</a></li>
                <li><a href="{% url 'crear_admin' %}">Crear Admin</a></li>
            </ul>
            <div class="logout">
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            </div>
        </aside>
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
