{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago</title>
    <link rel="stylesheet" href="{% static 'css/pago.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#btnPagar').click(function() {
                var nombre = $('#nombre').val();
                var tarjeta = $('#tarjeta').val();
                if (nombre && tarjeta) {
                    $('#modalPago').modal('show');
                }

            });

            $('#modalPago').on('shown.bs.modal', function() {
                setTimeout(function() {
                    window.location.href = "{% url 'home' %}";
                }, 3000);
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Pago</h1>

        <img src="{% static 'img/logo.jfif' %}" alt="The Pay Image">

        <form method="post">
            {% csrf_token %}
            <label for="nombre">Nombre en la tarjeta:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>
            <label for="tarjeta">Número de tarjeta:</label>
            <input type="text" id="tarjeta" name="tarjeta" required><br><br>

            <button type="button" id="btnPagar" class="">Pagar ${{ total|floatformat:"0" }}</button>

            <a class="cancelar" href="{% url 'home' %}">cancelar transacción</a>
        </form>

    </div>
    

    <div class="modal fade" id="modalPago" tabindex="-1" role="dialog" aria-labelledby="modalPagoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalPagoLabel">Gracias por realizar su compra!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
