/* BASE.HTML */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}
.container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 250px;
    background-color: #44106e; /* Morado */
    color: white;
    padding: 20px;
}
.sidebar .logo h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Fuente personalizada */
}
.logo span {
    display: inline-block;
    font-family: 'Montserrat', sans-serif; /* Fuente personalizada */
    font-weight: 800;
    color: #ffffff;/* Rosado */
    font-size: 36px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}
.sidebar ul li {
    margin: 10px 0;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.sidebar ul li a:hover {
    background-color: #f80269; 
    color: white;
}
.logout {
    margin-top: auto;
  
}
.logout a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.logout a:hover {
    background-color: #f80269; 
    color: white;
}






/* LOGIN.HTML*/

.content {
    flex: 1;
    background-color: #ecf0f1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1 {
    margin-bottom: 20px;
    color: #44106e; /* Morado */
    text-align: center;
}

form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}
form p {
    margin-bottom: 20px;
}
form label {
    display: block;
    margin-bottom: 5px;
    color: #44106e; /* Morado */
}
form input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    padding: 10px;
    width: 97%;
    background-color: #44106e; /* Morado */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
form button:hover {
    background-color: #f80269; /* Rosado */
}

.forgot-password {
    text-align: center;
    margin: 10px;
}

.forgot-password a {
    color: #44106e;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    color: #f80269;
}

.olvidar {
    color: #6a0dad; /* Color morado */
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.olvidar:hover {
    color: #f80269;
    text-decoration: underline;
}
